ul.sections {
  list-style: none;
  @include margin-scale(0 -24px, 0 -56px);
  padding: 0;

  > li.section {
    @include padding-scale(22px 24px, 32px 56px);

    &:nth-child(odd) {
      background-color: $swatch-tan;
    }

    .section-header {
      display: flex;
      flex-direction: row;

      .details {
        flex-basis: calc(100% - 30px);
        flex-grow: 1;
        flex-shrink: 0;
      }

      .progress-label {
        font-weight: 400;
        @include font-scale(13px, 18px);
      }

      .progress-bar {
        position: relative;
        width: 225px;
        height: 8px;
        margin: 0 0 6px 0;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-radius: 18px;
        }

        &:before {
          width: 100%;
          background: #a0bdc4;
        }

        &:after {
          background: #263746;
        }

        @for $i from 0 through 100 {
          &.value-#{$i} {
            &:after {
              width: #{$i} + "%";
            }
          }
        }
      }

      .toggle {
        flex-basis: 30px;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }

    .heading {
      margin: 0;
      padding: 0;
      @include font-scale(24px, 31px, 32px, 42px);
      cursor: pointer;
    }

    .lessons-toggle {
      display: inline-block;
      width: 30px;
      height: 24px;
      padding: 0;
      font-size: 0;
      border: none;
      background-color: transparent;
      background-position: center;
      background-size: 30px 24px;
      background-repeat: no-repeat;
      transition: background-image 0.2s ease;
      cursor: pointer;

      img {
        display: none;
      }
    }

    .lessons {
      overflow: hidden;
      transition: all 0.75s ease-in-out;
    }

    &.open {
      .lessons {
        max-height: 2000px;
      }

      .lessons-toggle {
        @include icon('accordion-close');
      }
    }

    &.closed {
      .lessons {
        max-height: 0;
        //@include padding-scale(0 24px, 0 56px);
      }

      .lessons-toggle {
        @include icon('accordion-open');
      }
    }
  }
}

.course-complete {
  margin: 88px 0 130px 0;
  text-align: center;

  h1 {
    text-align: center;
  }

  .subheading {
    font-family: $font-body;
    font-weight: 400;
    @include font-scale(24px, 33px);
    color: $swatch-royal-blue;
    text-align: center;
  }

  .course-overview {
    @include button-swatch($swatch-secondary);
    min-width: 420px;
  }

  .academy-dashboard {
    min-width: 420px;
    padding: 14px 49px;
    border: solid 1px $swatch-secondary;
    color: $swatch-secondary;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      border: solid 1px darken($swatch-secondary, 10%);
      color: darken($swatch-secondary, 10%);
    }
  }
}

section.reflection {
  h3 {
    margin: 39px 0 0 0;
    font-family: $font-heading;
    font-weight: 400;
    @include font-scale(20px, 26px);
    color: $swatch-black;
  }

  .answer {
    margin: 16px 0 0 0;
    font-family: $font-heading;
    font-weight: 400;
    @include font-scale(20px, 26px);
    color: $swatch-royal-blue;

    p {
      margin: 16px 0 0 0;
      font-family: $font-heading;
      font-weight: 400;
      @include font-scale(20px, 26px);
      color: $swatch-royal-blue;
    }
  }
}
