.is-style-shadow-,
.shadow- {
  &top-right,
  &bottom-right,
  &bottom-left,
  &top-left {
    &:not(.block-image) {
      position: relative;

      &:after {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
      }

      @each $name, $swatch in $swatches {
        &.shadow-color-#{$name} {
          &:after {
            background-color: $swatch !important;
          }
        }
      }
    }
  }

  &top-right:not(.block-image) {
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    &:after {
      top: -24px;
      right: -24px;
    }
  }
  
  &bottom-right:not(.block-image) {
    margin-right: 24px;
    margin-bottom: calc(24px + 24px);
    &:after {
      bottom: -24px;
      right: -24px;
    }
  }
  
  &bottom-left:not(.block-image) {
    margin-left: 24px;
    margin-bottom: calc(24px + 24px);
    &:after {
      bottom: -24px;
      left: -24px;
    }
  }
  
  &top-left:not(.block-image) {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
    &:after {
      top: -24px;
      left: -24px;
    }
  }
}