#entry-content {
  margin: 24px;

  .mepr-signup-form {
    > *:not(.navigation) {
      max-width: 405px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @include break-from(tablet) {
    max-width: ($break-tablet - 24 - 24) + px;
    margin: 48px auto;
  }

  @at-root .mepr_price_cell_label {
    @extend label;
  }

  @at-root .mepr_price_cell {
    @extend textarea;
    max-width: none;
  }

  > *:not(.mp_wrapper, .sign-up-thank-you, .onboarding-summary) {
    display: none;
  }

  h2.onboarding-summary {
    max-width: 405px;
    margin: 12px auto;
    @extend label;
  }

  dl.onboarding-summary {
    max-width: 405px;
    margin: 12px auto 32px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    font-size: 0.6em;
    line-height: 1em;

    $term-width: calc(35% - 1px + 0.5px);
    $definition-width: calc(65% - 1px + 0.5px);

    dt, dd {
      padding: 12px;
      background-color: $swatch-merino;
    }

    dt {
      flex-basis: $term-width;
      width: $term-width;
      font-weight: 500;
    }

    dd {
      flex-basis: $definition-width;
      width: $definition-width;
      margin: 0;
    }
  }

  .mepr-checkboxes-field {
    margin-bottom: 32px;
  }

  .mepr-checkboxes-field-row {
    display: block;

    input[type="checkbox"] {
      appearance: none;
      width: 18px;
      height: 18px;
      margin: 0 5px 5px 0;
      vertical-align: middle;
      border: solid 2px $swatch-royal-blue;
      background-color: transparent;

      &:checked {
        background-color: $swatch-royal-blue;
        @include icon('check');
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    input[type="checkbox"] + label {
      display: inline-block;
      margin: 0 0 5px 0;
      max-width: 90%;
      vertical-align: middle;
    }
  }

  .have-coupon-link {
    display: block;
    margin: 32px 0;
    @extend label;
  }

  .mepr-transaction-invoice-wrapper {
    padding: 0 !important;
  }

  .mp-table {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    margin-bottom: 32px;

    th, td {
      padding: 12px;
      @include font-scale(20px, 20px);
      background-color: $swatch-merino;
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }
  }

  .mepr-payment-methods-wrapper {
    h3 {
      @extend label;
    }

    hr {
      display: none;
    }
  }

  .mepr-visuallyhidden {
    @extend .sr-only;
  }

  .mepr-payment-option-label {
    display: block;

    input[type="radio"] {
      appearance: none;
      width: 18px;
      height: 18px;
      margin: 0 5px 5px 0;
      vertical-align: middle;
      border: solid 2px $swatch-royal-blue;
      border-radius: 50%;
      background-color: transparent;

      &:checked {
        background-color: $swatch-royal-blue;
        @include icon('check');
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .mepr-payment-method-label-text {
      @extend label;
    }

    input[type="radio"] + .mepr-payment-method-label-text {
      display: inline-block;
      margin: 0;
      max-width: 90%;
      vertical-align: middle;
    }
  }

  div.mp-hide-pw {
    position: relative;
    max-width: 500px;
    margin: 0 0 32px 0;

  }

  button.mp-hide-pw {
    padding: 0;
  }

  .navigation {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;
    margin: 32px 78px 0 78px;

    a {
      text-align: center;
    }

    .button {
      width: 100%;
    }

    @include break-from(tablet) {
      flex-direction: row;
      column-gap: 40px;
      max-width: 584px;
      margin: 32px auto 0 auto;
    }
  }

  .busy {
    overflow: hidden;
    margin-left: 8px;
    max-width: 20px;
    transition: all 0.25s ease-in-out;

    &.hidden {
      max-width: 0;
    }
  }

  .mepr-stripe-card-errors {
    min-height: 18px;
    margin: 16px 0 0 0;
    font-weight: 700;
    @include font-scale(13px, 18px);
    color: #b52222;

    a {
      @include link-color(#b52222);
      text-decoration: underline;
    }
  }

  .mp-form-submit {
    display: none;
  }

  .mp-form-row {
    &.mepr_first_name,
    &.mepr_last_name,
    &.mepr_mepr-address-city,
    &.mepr_mepr-address-country {
      display: none;
    }
  }
}

@at-root {
  body.postid-703 {

  }
}
