body.home {
  #main {
    margin-top: 0 !important;
  }
  
  .backdrop {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../images/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .site-header {
    background-color: transparent !important;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.76) -1.61%, rgba(255, 255, 255, 0) 100%);
    transition: background-color, background-image 0.2s ease;
    
    &.open {
      background-color: $site-header-background-solid !important;
      background-image: none;
    }
    
    @include break-tablet {
      .nav-menu {
        background-color: transparent !important;
      }
    }
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: $break-tablet + px; 
    margin: 0 auto; 
    padding: 24px $site-header-padding 60px $site-header-padding;
    min-height: 350px;
    
    @include break-desktop {
      max-width: $container-width;
      padding: 24px $site-header-padding 60px $site-header-padding;
    }
    
    @include break-retina {
      padding: 24px 0 60px 0;
    }
  }
  
  .hero-heading {
    margin: 0 0 24px 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: $swatch-white;
    
    @include break-tablet {
      font-size: 64px;
      line-height: 76px;
    }
  }
  
  .button-cta {
    padding: 11px 30px;
    font-size: 15px;
    font-weight: 700;
    
    @include break-tablet {
      padding: 15px 50px;
      font-size: 20px;
    }
  }
  
  header.title {
    @include icon('hero-waves');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding-top: 120px;
    position: relative;

    @include break-tablet {
      padding-top: 240px;
    }

    @include break-desktop {
      padding-top: 200px;
    }
    
    &:after {
      content: ' ';
      @include icon('women-can');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: auto; // 180px;
      height: 226px;
      aspect-ratio: 180 / 226;
      position: absolute;
      top: -40px;
      right: 0;
      
      @include break-tablet {
        height: 490px;
      }
      
      @include break-desktop {
        height: 600px;
      }
    }
    
    h1 {
      font-size: 40px;
      line-height: 63px;
      
      @include break-tablet {
        font-size: 64px;
        line-height: 100px;
      }

      @include break-desktop {
        font-size: 96px;
        line-height: 151px;
      }
      
      &:after {
        content: ' ';
        display: block;
        margin: 24px auto;
        width: 223px;
        border-bottom: solid 2px #97afb1;
      }
    }
  }
  
  .stack-tablet {
    gap: 0;
    
    @include only-tablet {
      flex-wrap: wrap !important;
      gap: 0;
      
      .wp-block-column {
        flex-basis: 100%;
      }
    }
    
    @include break-desktop {
      .wp-block-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0 !important;
        
        &.has-text {
          > * {
            padding-right: 48px;
            padding-left: 48px;
          }
        }
      }
    }
  }
}